PORT=3000
MONGODB_USER=userName
MONGODB_PASSWORD=password
MONGODB_URL=clusterUrl
MONGODB_CONNECTION_STRING=connectionString
MONGODB_DB=databaseName
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_verified_email@example.com
JWT_SECRET=your_jwt_secret
APP_DOMAIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret